.Title {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-repeat:repeat-x;
}
.comm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

#topFrame #Time1{
	position:absolute;
	left:758px;
	top:3px;
	width:91px;
	height:56px;
	z-index:109;
	background-image: url(../image/Time_Pos.jpg);
	background-repeat:no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left:4px;
	padding-top:5px;
} 

#topFrame #Loginfo{
	position:absolute;
	top:6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-left:10px;
	color:#FFFFFF;
	/*background-color:#72A0C6;*/
	border:#1E87C6 1px solid;
	left: 41px;
	height: 21px;
	width: 88px;
	vertical-align:middle;
	padding-top:4px;
}

#topFrame #LogOut{
	width:80px; 
	cursor:crosshair;

}

#topFrame input{
	border:0;
}

#comInfo{
	position:absolute;
	padding-left:650px;
	top:5px;
	width: 122px;
}
#comInfo td{
	width:25px;
}

.ChineseBody {
	font-family: System, YouYuan, Terminal, STZhongsong, STXinwei, STXingkai, STXihei, STCaiyun, SimSun, SimHei, NSimSun, LiSu, FZYaoTi, FZShuTi, Fixedsys;
	font-size: 9px;
	color: #996600;
}
.bodyFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.NormalText {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #333333;
}

.NormalTextBlue {

	font-family: Times New Roman, Times, serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #0000FF;
}

.NormalTextRed {

	font-family: Times New Roman, Times, serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #FF0000;
}

.NormalTextWhite {

	font-family: Times New Roman, Times, serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #ffffff;
}

.ArticleTitle {
	font-family: Times New Roman, Times, serif;
	font-size: 24px;
	font-weight: bolder;
	color: #000000;
}

table {
	font-family: System, YouYuan, Terminal, STZhongsong, STXinwei, STXingkai, STXihei, STCaiyun, SimSun, SimHei, NSimSun, LiSu, FZYaoTi, FZShuTi, Fixedsys;
	font-size: 9px;

}
img {
border:0;
}
#OperatTable{
position:relative;}

A:link {
	COLOR: #ffffff; TEXT-DECORATION: none;
	font-size:12px;
	font-weight:lighter;
}
A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none;
	font-size:12px;
	font-weight:lighter;
}
A:hover {
	COLOR: #33CCFF; TEXT-DECORATION: none;
	font-size:12px;
	font-weight:lighter;
}
A:active {
	COLOR: #000033; TEXT-DECORATION: none;
	font-size:12px;
	font-weight:lighter;