.textAlign
{
	text-align:left;
	padding-left:50px;
}
.db3{
	border-collapse:collapse;
	border-color:#cccccc;
	background:#F7FBFC;
}

#BackDiv
{
	position:absolute;  
	left:40%; 
	width:55%; 
	top:8px; 
	text-align:right;
}

.textAlign20
{
	text-align:left;
	padding-left:20px;
}

.textAlign10
{
	text-align:left;
	padding-left:10px;
}

#QueryInfo
{
	font-size:24px;
	background-color:#990000;
	font-weight:bold;
	font-family:宋体;
	padding-left:20px;
}


#SystemDate 
{
	width:100%;
	height:30px;
	background-color:#B9C6CF;
}
#SystemDate1
{
	width:100%;
	height:30px;
	background-color:#B9C6CF;
}

/* 主从表结构，从表图层样式*/
#DetailDiv
{
	background-color:#F8F6CF;
	left:100px;
	width:100%;
	z-index:110;
}

.operateDiv
{
	width:95%;
	height:30px;
	background-color:#B9C6CF;
	text-align:right;
	padding-right:50px;
}
.mytitle
{
	text-align:left;
	font-size:12px;
	font-weight:bold;
	background-color:#5693D6;
	color:#001166;
	padding-left:12px;
	
}

#button_TD{
background-image:url(../image/button_bg.jpg);
cursor:hand;
background-repeat:repeat-x;
}

#Demo1{
	vertical-align:top;
}
.generl {
	font-size: 12px;
}
.Mytable {
		border-collapse:collapse;
		font-size:12px;
		border-color:#C0C0C0;
		}


.DialogHeatTR{
	background-color:#D6DDE6;
}

.RedTitle {
	font-size: 14px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: underline;
}

table {
	font-size: 12px;
}
#InfoDiv {
	position:inherit;
	/*size:inherit;*/
	height: 100%;
	width:99%;
	z-index: 1;
	visibility: visible;
	font-family: Arial, Helvetica, sans-serif;
	BORDER:#fff 1px solid;
	background-color:#E1E7EE;
}

#DataInfoDiv {
	height:90%;
	overflow-y:scroll;
	/*size:landscape;*/
	
}

.db { 
	border-collapse:collapse;
	border-color:#ffffff;
	background:#ffffff;
}

.db2 { 
	border-collapse:collapse;
	border-color:#ffffff;
}


#InfoDiv input{
	border:none;
}

#QueryInfoTitle input{
border:none;
}
#QueryInfoTitle td{
}

#DataDiv {
	position:inherit;
	height: 95%;
	height: 100%;
	width:97%;
	z-index: 5;
	visibility: visible;
	 padding-left:10px;
	font-family: Arial, Helvetica, sans-serif;
	overflow:none;
	/*BORDER:#fff 1px solid;*/
	/*background-color:#E1E7EE;*/
	filter: Alpha(Opacity=90, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=500, FinishY=500);
	
}
#CoilDataDiv{
background-color:#E1E7EE;

}

#PageCoilID{
	width:120px;
}

#Page_CoilID,#PopCoilID,#PopHotCoilID,#Pop_HotCoilID{ 
	width:110px;
}
#DataDiv input{
border:0;}

#SelectInfo input{
border:0;
}

#PileListDIV{
	position:inherit;
	width:100%;
	height:575px;
	z-index:801;
	border:1px #336699 solid;
	background-color: #F9F9F9;
}

/*弹出对话框标题样式*/
.DialogHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
}

input:checkbox{
width:20px;}

div.BGNewFormLayer {
	filter: Alpha(Opacity=50, FinishOpacity=30, Style=1, StartX=0, StartY=0, FinishX=500, FinishY=500);
	filter : progid:DXImageTransform.Microsoft.Blur(makeShadow=true,pixelRadius=1,shadowOpacity=0.25);
}
a:link {
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
a:hover {
	font-size: 10px;
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
}
td{
	nowrap:true;
}
a:active {
	font-size: 10px;
	color: #FF9900;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
a:visited {
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*background-image: url(../image/back.gif);*/
	background-color:#D5E7F1;
}
.redGenerl {
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
#GeneralTable{
border-collapse:separate
}
#btnul{
	/*CLEAR: left;*/ 
	MARGIN: 0px; 
	/*PADDING:300px;*/ 
	BORDER: 0px; 
	LIST-STYLE-TYPE: none; 
	TEXT-ALIGN: center;  
	DISPLAY:inline;
	padding-left:300;
}

#btnul2{
	/*CLEAR: left;*/ 
	MARGIN: 0px; 
	/*PADDING:300px;*/ 
	BORDER: 0px; 
	LIST-STYLE-TYPE: none; 
	TEXT-ALIGN: center;  
	DISPLAY:inline;
	padding-left:300;	
}

#CurrencyParamInfo{
	LEFT: 15px;
	WIDTH: 864px;
	BORDER:#fff 2px solid;
	background-color:#DCECF3;
	filter: Shadow(Color=#A4B1BD, Direction=5);
}

/*#CurrencyParamInfo table{ 
	border-collapse:collapse;
	width:100%;
	background-color:#CCCCCC;
	
}*/
#CurrencyParamInfo td{
border:#003366;
border-width:1px;
}

#titlediv{
	font-size:12px;
	color:#006699;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	padding-left:20px;
	width:100%;
	background-color:#FFFFCC;
	filter: Alpha(Opacity=0, FinishOpacity=90, Style=1, StartX=320, StartY=30, FinishX=0, FinishY=0);
	
}
Span{
	color:#990000;
	font-weight:bold
}

#btnul li{
	FLOAT:LEFT;WIDTH: 100px;
}

#btnul2 li{
	FLOAT:LEFT;WIDTH: 100px;
}

#btnul li#spanli{
	width:200px}
	
.blueGenerl{
	font-size: 12px;
	font-weight: bold;
	color:#003366;
}

#PlanCFMBody #ScheculeInfo table{
background-color:#FFFFFF;
border:#FFFFFF;
border-width:1px;
}
#PlanCFMBody #ScheculeInfo td{ 
background-color:#E0E0E0;
width:100px;
color:#FFFFFF;
}

#UnitIDStandard{
	LEFT: 15px;
	WIDTH: 864px;
	TOP: 6px;
	HEIGHT: 1%;
	BORDER:#fff 2px solid;
	filter: Shadow(Color=#A4B1BD, Direction=5);
}
#UnitIDStandard table{
	border-collapse:collapse;
	width:100%;
	background-color:#ECF1F2;
	border:0px;
}

/*#dataTable{
border-collapse:collapse;
border-spacing:1;
border-width:1;
border:#333333;
background-color:#CCCCCC;
}*/

#AppointedCoilInfoTD table{
	width:100%;
	border:1px ridge #8B9FBA;
	background-color:#B5D9F7;
	margin: 1px;
	padding: 1px;
	display: table-cell;
}

#AppointedCoilInfoTD span{
	color:#003399;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#span{
	color:#CC0000;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

/*#dataInfoDiv table{
	caption-side: top; width: auto; border-collapse: separate; empty-cells: hide;
}*/
	
#ControlPad{
	position:relative;
	width:100%;
	/*border:#FFFFFF 1px dotted;*/
	text-align:right;
}

#ControlPad a{
	color:#0099CC;
}

#CTMCoil{
	font-size:10px;
	//text-align:right;
}

#OperatTable{
	width:100%;
}

#OperatTable #SelectInfo{
}

#CoilInfoDiv input{
border:none;
}

#TableHead,#TableHead_CTMReadyInfo,#TableHead_CTMDownLineInfo,TableHead_CTMDownLineInfo,#JntegrateJudge_Coil_tablehead,#QueryPlan_head,#coil_head,#Defect_Info,#Plan_Head{
	/*color:#FFFFFF;
	background-color:#999999;*/
	/*background-color: #D1D1D1;
	color: #131B2B;*/
	/*background-color:#AFC7E7;
	color:#000066;*/
	background-color:#8B8B8B;
	color:#ffffff;
}

.HeatTR{
	/*background-color: #AFC7E7;
	color: #000066;*/
	background-color:#8B8B8B;
	color:#ffffff;
}

#TableHead td,#TableHead_CTMReadyInfo td,#TableHead_CTMDownLineInfo td,TableHead_CTMDownLineInfo td,#JntegrateJudge_Coil_tablehead td,#QueryPlan_head td,#coil_head td,#Defect_Info td,#Plan_Head td{
text-align:center;
}

/*dialog*/
#dialog_bottom_right{
	background-image:url(../image/dialog1_10.gif);
	background-repeat:no-repeat;
	background-position:right top;
	width:20px;}
#dialog_bottom_center{
	background-image:url(../image/dialog1_09.gif);
	background-repeat:repeat-x;
	}
#dialog_bottom_left{
	background-image:url(../image/dialog1_08.gif);
	background-repeat:no-repeat;
	background-position:left top;
	width:20px}
#dialog_center_right{
	background-image:url(../image/dialog1_07.gif);
	background-repeat:repeat-y;
 	background-position:right;
 	width:8px}
	
#dialog_center_left{
	background-image:url(../image/dialog1_05.gif);
	background-repeat:repeat-y;
	background-position:left;
	width:7px}
#dialog_top_right{ 
	background-image:url(../image/dialog1_04.gif);
	background-repeat:no-repeat;
	background-position:right top;
	with =40px;
	vertical-align:top;
	text-align:right;}
	
#dialog_top_Center{background-image:url(../image/dialog1_02.gif);
	background-repeat:repeat-x;
	background-position:top;
	cursor:hand;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	vertical-align:text-top;
	}
#dialog_top_Left{
	background-image:url(../image/dialog1_01.gif);
	background-repeat:no-repeat;
	background-position:left top
	}
#dialog_Close{
top=1px;
}

disable{
border:none;
background:#F0F7F7;
	
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#ffffff;
	font-size:16px;
	
	
}
a.link{
color:#0033CC;
}